language: rust
addons:
  apt:
    packages:
    - gcc
    - g++
    - libleveldb-dev
    - libssl-dev
rust:
- stable
cache:
  directories:
  - "$HOME/.cargo"
  - "$HOME/.local"
  - "$TRAVIS_BUILD_DIR/target"
  - "$TRAVIS_BUILD_DIR/sandbox_tests/target"
sudo: false
env:
  global:
  - RUST_LOG=off
  - CLIPPY_VERS=0.0.142
  - RUSTFMT_VERS=0.9.0
install:
- |
  if [ ! -f "$HOME/.local/lib/libsodium.a" ]; then
    wget https://download.libsodium.org/libsodium/releases/libsodium-1.0.13.tar.gz
    tar xvf libsodium-1.0.13.tar.gz
    cd libsodium-1.0.13
    ./configure --prefix=$HOME/.local
    make
    make install
    cd ..
  fi
- export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/.local/lib
- export PKG_CONFIG_PATH=$PKG_CONFIG_PATH:$HOME/.local/lib/pkgconfig
- |
  if [[ "$FEATURE" == "clippy" ]]; then
    cargo clippy --version | grep $CLIPPY_VERS || cargo install clippy --force --vers $CLIPPY_VERS
  fi
- |
  if [[ "$FEATURE" == "fmt" ]]; then
    cargo-audit -V || cargo install cargo-audit --force
    rustfmt -V | grep $RUSTFMT_VERS || cargo install rustfmt --vers $RUSTFMT_VERS --force
    cargo update
  fi
- cargo install --list
script: skip
jobs:
  include:
  - stage: lint
    env:
    - FEATURE=fmt
    script:
    - cargo audit
    - cargo fmt -- --write-mode=diff
    - cd sandbox_tests && cargo fmt -- --write-mode=diff
  - stage: lint
    rust: nightly-2017-07-05
    env:
    - FEATURE=clippy
    script:
    - cargo clippy -- -D warnings
  - stage: lint
    rust: nightly-2017-07-05
    env:
    - FEATURE=clippy
    - SANDBOX=true
    script:
    - cd sandbox_tests && cargo clippy -- -D warnings
  - stage: test
    script:
    - cargo test
    - RUST_LOG=off cargo test --manifest-path sandbox_tests/Cargo.toml
notifications:
  slack:
    secure: YHS1dJE+g28M3iW9MG2ShgVd20nHbFLd5i7TbID59RnYl/SAKlGUeTtUTjK0VpnzaTX1ETLSXGcjj7Xx1sI7I/4f1obyMWMEUg7k+JfnkYOcYCiHCymt3L/QK1n8HNbprkrEx8VDO79BzTtB9az0DhQDpf18hJ8VYr3PNxkGgENJNIMf8y1r5/qrp6Tww+/Nw60I1dhdSQCvvZStbQCW47f2pHHcASnUvEpy9CSYjnfgUappMZkZVuYlY8vaV0yB8OrKZSV2nrJwGaoNXkbkYJtCcd4/ZSSGM+hz2dGjmvinjAOpyrUO+TzOHoKBad1/3VRj9ZX5L5CTBfkaeoLEJibdmRu/+0KvtFQFrqskap4CpnKjEh8aeAuYZEWhPy52IQehRF0kyo5ZPwe0pvFZM3KdaMEOT03Pnkqb/UxmsWa/91hC/EIRhWXKk4Y0UWtwhrdnbyKPquasBgZR+0Prh41s966S3MxohsVYPC23jk3vHOZFmNpmoEQsMh5FZgoQUNesVarv8tmQBS5t3kYXRDmrH9J8aLts0ovDT+i1ovmjnog9VOfsEmk8FBlTdkTxtt/x5n0Zf8oEhrgvMp5rB2JvhvxG1iT+GBcJia57yuuOaC0ermGtQqEvSpkQon2IPUtbusaUlt1jEXe3fR91Y11S3PZdX3nuAFnGHyE1pyc=
