language: rust

addons:
  apt:
    sources:
    - sourceline: 'ppa:maarten-fonville/protobuf'
    - sourceline: 'ppa:fsgmhoward/shadowsocks-libev'
    packages:
    - binutils-dev
    - build-essential
    - cmake
    - g++
    - gcc
    - libcurl4-openssl-dev
    - libdw-dev
    - libelf-dev
    - libiberty-dev
    - libprotobuf-dev
    - librocksdb-dev
    - libsnappy-dev
    - libsodium-dev
    - libssl-dev
    - pkg-config
    - protobuf-compiler
    - unzip
    - zlib1g-dev

rust:
  - 1.42.0

cache:
  npm: true
  cargo: false
  directories:
  - $HOME/.cache
  - $HOME/.cargo
  - $HOME/.local
  - $HOME/.kcov

dist: bionic
sudo: required

env:
  global:
  - SCCACHE_VERS=0.2.13
  - DEADLINKS_VERS=0.4.1
  - RUSTFLAGS="-D warnings"
  - ROCKSDB_LIB_DIR=/usr/lib
  - SNAPPY_LIB_DIR=/usr/lib/x86_64-linux-gnu

before_install:
  - sccache -V | grep $SCCACHE_VERS || cargo install sccache --vers $SCCACHE_VERS --force
  - export RUSTC_WRAPPER=sccache

jobs:
  allow_failures:
  - name: publish-with-rust
  - name: deadlinks
  include:
  # Formatting & other lints that do not require compilation
  - name: lints
    install:
    - rustup component add rustfmt
    - rustfmt -V
    - nvm install 8 && nvm use 8
    - npm install
    - ./node_modules/.bin/cspell --version
    - ./node_modules/.bin/markdownlint --version
    script:
    - cargo fmt -- --check
    - npm run cspell
    - npm run md

  # Clippy linting
  - name: clippy
    install:
    - rustup component add clippy
    - cargo clippy --version
    script:
    # Force clippy to use sccache, from issue
    # https://github.com/mozilla/sccache/issues/423#issuecomment-526614168
    - cargo check 
    - touch Cargo.toml
    - cargo clippy --all -- -D warnings

  # Tests
  - name: linux-tests
    script:
    - cargo test --all

  # Non-fatal checks
  - name: deadlinks
    env: FEATURE=non-fatal-checks
    install:
    - cargo-deadlinks -V | grep $DEADLINKS_VERS || cargo install cargo-deadlinks --vers $DEADLINKS_VERS --force
    script:
    - cargo doc --no-deps
    - cargo deadlinks --dir target/doc

  # Check publish with Rust 1.41.1
  - name: publish-with-rust
    env: FEATURE=non-fatal-checks
    rust: 1.41.1
    script:
    - cargo publish --dry-run
